* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 90%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.title {
  margin: 25px 0 20px 0;
  text-align: center;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.btn {
  display: block;
  width: 270px;
  background-color: #EB5757;
  color: #FFFFFF;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  border: 2px solid #111111;
  border-radius: 10px;
  height: 50px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.btn:hover {
  cursor: pointer;
  background-color: #111111;
  color: #FFFFFF;
  border: 2px solid #EB5757;
}

#container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem 0;
  padding: 0.25rem 0 0.25rem 5rem;
}

.card {
  padding: 2rem 1rem;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #9c9c9c;
}
.card-info, .card-bottom {
  margin: 5px 0;
  padding: 5px;
}
.card-info li {
  margin-left: 15px;
  font-size: 13px;
  color: #585858;
}
.feature {
  text-shadow: 0 4px 4px #585858;
  margin: 3px 0 15px 0;
}
.card-title {
  margin: 0 0 8px 0;
}

hr {
  border: 2px solid #9c9c9c;
  width: 85%;
  margin: 7px 3px;
}

.card-img {
  display: block;
  margin: 0 auto;
  width: 320px;
  height: 200px;
  border-radius: 10px;
}
.card-img:hover {
  cursor: pointer;
  border: 1px solid salmon;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-bottom .left {
  margin: 5px 0;
  padding: 5px 0;
}
.card-bottom .right {
  color: #EB5757;
  padding: 0 5px;
  font-weight: 900;
}
.card-publish-date {
  font-size: 12px;
  color: #585858;
}
.card-bottom .right:hover {
  cursor: pointer;
  font-size: 19px;
  border: 2px solid #585858;
  border-radius: 7px;
}

#see-more-btn {
  margin: 2rem auto;
}